<!-- MINI PLANT CARD MODEL -->


<div class="card-image">
    <figure class="image is-4by3">
        <img src="{{ plant.image_url }}" alt="image d'une plante {{ plant.common_name }} de l'api trefle">
    </figure>
</div>
<div class="card-content">
    <div class="media">
        <div class="media-left">
            <figure class="image is-48x48">
                <img atl="DigitalOcean" src="../static/plantsandco/img/logo_plant.png" style="margin-right: 0.5em;">
            </figure>
        </div>
        <div class="media-content">
            <p class="title is-4">{{ plant.common_name }}</p>
            <p class="subtitle is-6">Author : {{ plant.author }}</p>
        </div>
    </div>
    <hr>
    <div class="content">
        <table class="table">
            <tr>
                <td><span class="has-text-grey">Id </span></td>
                <td>{{ plant.id }}</td>
            </tr>
            <tr>
                <td><span class="has-text-grey">Genus </span></td>
                <td>{{ plant.genus }}</td>
            </tr>
            <tr>
                <td><span class="has-text-grey">Scientific Name </span></td>
                <td>{{ plant.scientific_name }}</td>
            </tr>
            <tr>
                <td><span class="has-text-grey">Year </span></td>
                <td>{{ plant.year }}</td>
            </tr>
            <tr>
                <td><span class="has-text-grey">Family </span></td>
                <td>{{ plant.family }}</td>
            </tr>
            <tr>
                <td><span class="has-text-grey">Family Common Name </span></td>
                <td>{{ plant.family_common_name }}</td>
            </tr>
            <tr>
                <td><span class="has-text-grey">Author </span></td>
                <td>{{ plant.author }}</td>
            </tr>
            <tr>
                <td><span class="has-text-grey">Rank </span></td>
                <td>{{ plant.rank }}</td>
            </tr>
        </table>
    </div>
    <hr>
    <footer class="has-text-centered">
        <!-- {% for name, link in plant.links.items %}
        <a href="{{ get_absolute_url }}{{ plant.slug }}" class="button is-primary is-outlined">{{ name }}</a>
        {% endfor %} -->
        <a href="{{ get_absolute_url }}{{ plant.slug }}" class="button is-primary is-outlined">More about this plant</a>
    </footer>
</div>