<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    <meta charset="UTF-8">
    <title>Plants & Co</title>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
        integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="../static/plantsandco/img/logo_plant.png" />

    <style>

        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .cards .card {
            margin: 2rem;
            box-shadow: 0 0 .1rem #aaa;
            transition: .2s;
        }

        .cards .card:hover {
            box-shadow: 0 0 .9rem #aaa;
        }

        .single-card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 4rem 2rem;
        }

        .search-form {
            margin-top: .5rem;
            margin-right: 1rem;
        }

        .search-form button {
            margin: 0 .8rem;
        }

        .navigation {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 1rem auto 5rem auto;
            padding-bottom: 5rem;
        }

        .navbar {
            box-shadow: 0 .5rem .8rem rgba(170, 170, 170, 0.473);
        }

    </style>

</head>

<body>

    <!-- HEADER -->
    <nav aria-label="main navigation" class="navbar is-light is-fixed-top" role="navigation">
      
        <div class="navbar-brand">
            <div class="navbar-item">
                <img atl="DigitalOcean" src="../static/plantsandco/img/logo_plant.png" style="margin-right: 0.5em;">
                <h1 class="title is-size-3-desktop">Plants & Co</h1>
            </div>
        </div>

        <form class="navbar-end search-form">
            <input class="input is-primary" type="search" placeholder="Search plants">
            <button class="button is-primary">Search</button>
        </form>

    </nav>


    {% block content %}
    {% endblock %}

    
    <!-- FOOTER -->
    <footer>
        <p>Plants&Co &copy 2020 No rights reserved !</p> 
    </footer>

</body>

</html>