{% extends 'base.html' %}

{% block content %}

<!-- PLANT CARDS PAGE -->
<div class="cards">

    {% for plant in plants.data %}

    <!-- PLANT CARD MODEL -->
    <div class="card">
        {% include 'partials/_mini_plant.html' %}
    </div>

    {% endfor %}

</div>

<!-- PAGINATION -->
<div class="buttons navigation">
    <div>
        {% if plants.links.prev %}
            <a href="{{ plants.links.prev }}" class="button is-rounded"> Prec </a>
        {% endif %}
    </div>
    <div>
        <a href="{{ plants.links.next }}" class="button is-rounded"> Next </a>
        <a href="{{ plants.links.last }}" class="button is-rounded"> Last </a>
    </div>
</div>

{% endblock %}