{% extends 'base.html' %}

{% block content %}

<!-- PLANT CARDS PAGE -->
<div class="single-card">

    {% include 'partials/_single_plant.html' %}

</div>

<div class="buttons navigation">
    <a href="{% url 'index'%}" class="button is-rounded">Accueil</a>
</div>

{% endblock %}